html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Chango', cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #00539F;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    color: #00539F;
  text-shadow: 30px 30px 0 black;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  body {
    width: 1200px;
    margin: 300px auto ;
    background-color: #FF9500;
    padding: 200px 200px 200px 200px;
    border: 5px solid black;
  }
  img {
  display: block;
  width: 600px;
  margin: 0 auto;
}

